//Configure the basic interfaces
hostname FW-1

//inside interface 1
interface GigabitEthernet1/3
no shutdown
ip add 10.2.2.2 255.255.255.252
//now we configure the inside interfaces zone
nameif INSIDE-1
security-level 100

//interface inside 2
interface GigabitEthernet1/4
no shutdown
ip add 10.2.2.10 255.255.255.252
//now we configure the inside interfaces zone
nameif INSIDE-2
security-level 100

//interface DMZ
interface GigabitEthernet1/4
no shutdown
ip add 10.2.2.10 255.255.255.252
//now we configure the inside interfaces zone
nameif INSIDE-2
security-level 100

//interface outside 1
interface GigabitEthernet1/1
no shutdown
ip add 105.100.50.2 255.255.255.252
//now we configure the inside interfaces zone
nameif OUTSIDE-1
security-level 0

//interface outside
interface GigabitEthernet1/2
no shutdown
ip add 197.200.100.6 255.255.255.252
//now we configure the inside interfaces zone
nameif OUTSIDE-2
security-level 0

//Static routing for different interfaces(going outside)
//With this command we ensure that the traffict on zone will be forwarded to the router SEACOM-ISP1
// if its unknown traffict. See notes to understand unknown traffict.
route OUTSIDE-1 0.0.0.0 0.0.0.0 105.100.50.1
 
//backup routing with trusted Administrative distance of 70 to the second outside zone.
route OUTSIDE-2 0.0.0.0 0.0.0.0 197.200.100.1 70

//OSPF
router ospf 35
 router-id 1.1.8.8
 network 105.100.50.0 255.255.255.252 area 0
 network 197.200.100.0 255.255.255.252 area 0
 network 10.11.11.0 255.255.255.224 area 0
 network 10.2.2.0 255.255.255.252 area 0
network 10.2.2.8 255.255.255.252 area 0

//Creating the firewall inspecting policys
//objects creation for NAT specification (see notes)

object network INSIDE-1-OUTSIDE-1
subnet 172.16.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-1) dynamic interface

object network INSIDE-2-OUTSIDE-1
subnet 172.16.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-1) dynamic interface

object network LAN-INSIDE-1-OUTSIDE-2
subnet 172.16.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-2) dynamic interface

object network LAN-INSIDE-2-OUTSIDE-2
subnet 172.17.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-2) dynamic interface

object network WLAN-INSIDE-1-OUTSIDE-1
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-1) dynamic interface

object network WLAN-INSIDE-1-OUTSIDE-2
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-2) dynamic interface

object network WLAN-INSIDE-2-OUTSIDE-1
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-1) dynamic interface

object network WLAN-INSIDE-2-OUTSIDE-2
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-2) dynamic interface



object network DMZ-OUTSIDE-1
subnet 10.11.11.0 255.255.255.224
nat (DMZ,OUTSIDE-1) dynamic interface

object network DMZ-OUTSIDE-2
subnet 10.11.11.0 255.255.255.224
nat (DMZ,OUTSIDE-2) dynamic interface

//!unused code 
object network INSIDE-1-DMZ
subnet 172.16.0.0 255.255.0.0
nat (INSIDE-1,DMZ) dynamic interface

object network INSIDE-2-DMZ
subnet 172.17.0.0 255.255.0.0
nat (INSIDE-2,DMZ) dynamic interface

//permitting ICMP from any network
access-list RES extended permit icmp any any
access-list RES extended permit tcp any any eq 80

//access list for DNS protocol that uses tcp and udp in port 53
access-list RES extended permit tcp any any eq 53
access-list RES extended permit udp any any eq 53

access-group RES in interface DMZ
access-group RES in interface OUTSIDE-1
access-group RES in interface OUTSIDE-2 





