//Configure the basic interfaces
hostname FW-2

//inside interface 1
interface GigabitEthernet1/3
no shutdown
ip add 10.2.2.6 255.255.255.252
//now we configure the inside interfaces zone
nameif INSIDE-1
security-level 100

//interface inside 2
interface GigabitEthernet1/4
no shutdown
ip add 10.2.2.10 255.255.255.252
//now we configure the inside interfaces zone
nameif INSIDE-2
security-level 100

//interface outside 1
interface GigabitEthernet1/1
no shutdown
ip add 105.100.50.6 255.255.255.252
//now we configure the inside interfaces zone
nameif OUTSIDE-1
security-level 0

//interface outside
interface GigabitEthernet1/2
no shutdown
ip add 197.200.100.6 255.255.255.252
//now we configure the inside interfaces zone
nameif OUTSIDE-2
security-level 0

route OUTSIDE-1 0.0.0.0 0.0.0.0 105.100.50.5 70
route OUTSIDE-2 0.0.0.0 0.0.0.0 197.200.100.5

router ospf 35
router-id 1.1.9.9
network 105.100.50.4 255.255.255.252 area 0
network 197.200.100.4 255.255.255.252 area 0
network 10.2.2.4 255.255.255.252 area 0
network 10.2.2.12 255.255.255.252 area 0

//check this code before using (is the firewall1 code)
//Creating the firewall inspecting policys
//objects creation for NAT specification (see notes)

object network INSIDE-1-OUTSIDE-1
subnet 172.16.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-1) dynamic interface

object network INSIDE-2-OUTSIDE-1
subnet 172.16.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-1) dynamic interface

object network LAN-INSIDE-1-OUTSIDE-2
subnet 172.16.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-2) dynamic interface

object network LAN-INSIDE-2-OUTSIDE-2
subnet 172.17.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-2) dynamic interface

object network WLAN-INSIDE-1-OUTSIDE-1
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-1) dynamic interface

object network WLAN-INSIDE-1-OUTSIDE-2
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-1,OUTSIDE-2) dynamic interface

object network WLAN-INSIDE-2-OUTSIDE-1
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-1) dynamic interface

object network WLAN-INSIDE-2-OUTSIDE-2
subnet 10.20.0.0 255.255.0.0
nat (INSIDE-2,OUTSIDE-2) dynamic interface

//permitting ICMP from any network
access-list RES extended permit icmp any any
access-list RES extended permit tcp any any eq 80

//access list for DNS protocol that uses tcp and udp in port 53
access-list RES extended permit tcp any any eq 53
access-list RES extended permit udp any any eq 53

//Since we dont have DMZ connected to this firewall we wont apply the rules to dmz-interface
access-group RES in interface OUTSIDE-1
access-group RES in interface OUTSIDE-2 








